@import '../../helpers/style/index.scss';

.rootWrapper {
    // background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    max-width: 1500px;
    padding-top: 50px;
    margin: auto;
    position: relative;
    transition: 0.2s;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectTitleWrapper {
    display: flex;
    align-items: center;
}

.projectStatus {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-left: 20px;
    width: 120px;
    border-radius: 10px;
    background-color: rgb(218, 156, 0);
    transition: 0.5s;
    height: 40px;
    > p {
        font-size: 18px;
        margin: 0;
    }
}

.projectDone {
    transition: 0.5s;
    background-color: rgb(23, 163, 10);
}

.projectTitle {
    font-size: 36px;
    align-self: flex-start;
    margin-left: 20px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    color: $font-color;
}

.addTask {
    @include animated-button;
}

.tasksColumnWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 50px;
}

@media (max-width: 1450px) {
    .rootWrapper {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    .rootWrapper {
        width: 95%;
    }
}