@import '../../helpers/style/variables.scss';

.rootWrapper {
    background-color: $card-background;
    border-radius: 10px;
    transition: 0.3s;
    max-width: 100%;
    // max-width: 750px;
    min-height: 200px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 15px 10px 20px;
    // border: 2px solid $card-border;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 15px $box-shadow;
        scale: 1.02;
    }

    > p {
        // overflow-wrap: break-word;
        font-size: 18px;
        text-align: left;
        color: $font-color;
    }
}

.projectHeader {
    display: flex;
    justify-content: space-between;
}

.projectMainInfo {
    flex-basis: 70%;
    display: flex;
    align-items: center;
}

.projectStatus {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(218, 156, 0);
    height: 30px;
    > p {
        font-size: 16px;
        margin: 0;
    }
}

.projectDone {
    background-color: rgb(23, 163, 10);
}

.projectTitle {
    font-size: 30px;
    margin: 0 0 0px 10px;
    color: $font-color;
}

.controlButtonsWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    > a {
        margin-right: 15px;
    }
}

.controlButton {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    background-color: rgb(233, 89, 89);
    border-radius: 5px;
    transition: 0.2s;
    &::before {
        content: attr(data-title);
        position: absolute;
        top: -70px;
        width: 100px;
        padding: 5px 10px 5px 10px;
        height: 50px;
        background-color: rgb(39, 39, 39);
        box-shadow: 0 0 20px rgb(0, 191, 255);
        border-radius: 5px;
        display: none;
        color: $font-color;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.03);
        box-shadow: 0 -15px 20px rgb(0, 191, 255);
        &::before {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    > img {
        pointer-events: none;
        width: 25px;
        height: 25px;
    }
}

.projectDate {
    user-select: none;
    align-self: flex-end;
    > p {
        overflow-wrap: break-word;
        color: $font-color;
        font-size: 14px;
        margin-bottom: 10px;
        text-align: left;
    }
}