.App {
  height: 100%;
  width: 100%;
  text-align: center;
}

.fade-enter {
  transform: translateY(20px);
  opacity: 0;
}
.fade-enter-active {
  display: block;
  transform: translateY(0px);
  opacity: 1;
  transition: all 300ms ease-in;
}

/* .fade-enter-done {
  transform: translateY(0px);
  transition: all 300ms ease-in;
} */

.fade-exit {
  display: none;
  opacity: 0;
}
/* .fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
} */

/* Transitions */
/* .next-exit-active {
  animation: leaveToLeft 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 0;
} */

.next-exit {
  display: none;
}

.next-enter-active {
  display: block;
  animation: enterFromRight 300ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
}

.prev-exit-active {
  animation: leaveToRight 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
}

.prev-enter-active {
  animation: enterFromLeft 3000ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 0;
}

@keyframes leaveToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
    filter: brightness(0.5);
  }
}

@keyframes enterFromLeft {
  from {
    transform: translateX(-25%);
    filter: brightness(0.5);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes leaveToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes enterFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
